# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

## 3.3 Generating Random Latitudes and Longitudes

In [1]:
# Import the dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

## 3.4 Generating Random World Cities

In [3]:
# Use the Citipy module to determine city based on latitude and longitude
from citipy import citipy

In [4]:
# Create a list for holding the cities.
cities = []


# Identify nearest city for each latitude and longitude combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

598

## 4.3 Making an API Call

In [5]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [6]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

## 4.6 Getting the Cities Weather Data

In [7]:
# Import the time library and the datetime module from the datetime library.
import time
from datetime import datetime

In [ ]:
# List of city data
city_data = []

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters
record_count = 1
set_count = 1

# Loop through all the cities in our list
for i, city in enumerate(cities):
        
    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city
    city_url = url + "&q=" + city.replace(" ", "+")
    
    # Log the url, record, and set numbers
    print(f"Processing Record {record_count} of Set {set_count} | {city}")

    # Add 1 to the record count
    record_count += 1

    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        city_weather = requests.get(city_url).json()

        # Parse out the max temp, humidity, and cloudiness
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S') 

        # Append the City information into city_data list
        city_data.append({"City": city.title(), 
                          "Lat": city_lat, 
                          "Lng": city_lng, 
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

    # If an error is experienced, skip the city
    except:
        print("City not found. Skipping...")
        pass
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | geraldton
Processing Record 2 of Set 1 | ushuaia
Processing Record 3 of Set 1 | faanui
Processing Record 4 of Set 1 | vredendal
Processing Record 5 of Set 1 | yellowknife
Processing Record 6 of Set 1 | yeppoon
Processing Record 7 of Set 1 | henties bay
Processing Record 8 of Set 1 | mayumba
Processing Record 9 of Set 1 | atuona
Processing Record 10 of Set 1 | butaritari
Processing Record 11 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 12 of Set 1 | mataura
Processing Record 13 of Set 1 | marawi
Processing Record 14 of Set 1 | port elizabeth
Processing Record 15 of Set 1 | bluff
Processing Record 16 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 17 of Set 1 | kamennomostskiy
Processing Record 18 of Set 1 | mocambique
City not found. Skipping...
Processing Record 19 of Set 1 | mar del plata
Processing Record 20 of Set 1 | fortuna
Processing Record 21 of Set 1 | ullapool
Processing Record 22 of Set 1 | palabuhanratu
City not found. Skipping...
Processing Record 23 of Set 1 | new norfolk
Processing Record 24 of Set 1 | erenhot
Processing Record 25 of Set 1 | lucapa
Processing Record 26 of Set 1 | coquimbo
Processing Record 27 of Set 1 | nome
Processing Record 28 of Set 1 | narsaq
Processing Record 29 of Set 1 | longyearbyen
Processing Record 30 of Set 1 | isangel
Processing Record 31 of Set 1 | hendek
Processing Record 32 of Set 1 | saskylakh
Processing Record 33 of Set 1 | hermanus
Processing Record 34 of Set 1 | sitka
Processing Record 35 of Set 1 | mnogovershinnyy
Processing Record 36 of Set 1 | marsh harbour
Processing Record 37 of Set 1 | port-gentil
Processing Record 38 of Set 1 | bambous virieux
Processing Record 39 of Set 1 | puerto colombia
Processing Record 40 of Set 1 | hobart
Processing Record 41 of Set 1 | puerto madero
Processing Record 42 of Set 1 | albany
Processing Record 43 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 44 of Set 1 | sao filipe
Processing Record 45 of Set 1 | grand gaube
Processing Record 46 of Set 1 | ribeira grande
Processing Record 47 of Set 1 | vila velha
Processing Record 48 of Set 1 | toliary
City not found. Skipping...
Processing Record 49 of Set 1 | yerbogachen

In [26]:
len(city_data)

560

## 4.7 Create a pandas Dataframe

In [27]:
# Convert array of dictionaries to a pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bilma,18.6853,12.9164,72.23,22,1,9.64,NE,2022-11-08 22:46:37
1,Cherskiy,68.7500,161.3000,-4.13,99,100,4.34,RU,2022-11-08 22:46:37
2,Bluff,-46.6000,168.3333,56.19,79,100,22.75,NZ,2022-11-08 22:46:38
3,Yellowknife,62.4560,-114.3525,10.92,92,100,2.30,CA,2022-11-08 22:45:07
4,Hobart,-42.8794,147.3294,69.26,66,0,1.14,AU,2022-11-08 22:45:36
5,Lebu,-37.6167,-73.6500,57.16,85,90,7.61,CL,2022-11-08 22:46:39
6,Matara,5.9485,80.5353,76.78,86,100,1.79,LK,2022-11-08 22:46:39
7,Bengkulu,-3.8004,102.2655,75.69,90,100,3.83,ID,2022-11-08 22:46:40
8,Thompson,55.7435,-97.8558,6.96,85,100,8.05,CA,2022-11-08 22:46:40
9,Ushuaia,-54.8000,-68.3000,49.66,57,40,18.41,AR,2022-11-08 22:46:41

In [28]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["City", "Country", "Date", "Lat",
                    "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"] 

# Assign a new or the same DataFrame the new column order.
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Bilma,NE,2022-11-08 22:46:37,18.6853,12.9164,72.23,22,1,9.64
1,Cherskiy,RU,2022-11-08 22:46:37,68.7500,161.3000,-4.13,99,100,4.34
2,Bluff,NZ,2022-11-08 22:46:38,-46.6000,168.3333,56.19,79,100,22.75
3,Yellowknife,CA,2022-11-08 22:45:07,62.4560,-114.3525,10.92,92,100,2.30
4,Hobart,AU,2022-11-08 22:45:36,-42.8794,147.3294,69.26,66,0,1.14
5,Lebu,CL,2022-11-08 22:46:39,-37.6167,-73.6500,57.16,85,90,7.61
6,Matara,LK,2022-11-08 22:46:39,5.9485,80.5353,76.78,86,100,1.79
7,Bengkulu,ID,2022-11-08 22:46:40,-3.8004,102.2655,75.69,90,100,3.83
8,Thompson,CA,2022-11-08 22:46:40,55.7435,-97.8558,6.96,85,100,8.05
9,Ushuaia,AR,2022-11-08 22:46:41,-54.8000,-68.3000,49.66,57,40,18.41

In [29]:
# Create the output File (CSV)
output_data_file = "WeatherPy_Database.csv"
# Export the City_Data into a csv
city_data_df.to_csv(output_data_file, index_label="City_ID")

# Show Record Count
city_data_df.count()

City          560
Country       560
Date          560
Lat           560
Lng           560
Max Temp      560
Humidity      560
Cloudiness    560
Wind Speed    560
dtype: int64